body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2b48c;
    padding: 10px 20px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    color: #472D1C;
    font-family: "Copperplate Gothic Light";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
 h1 {
    margin: 0;
    color: #2C1508;
    font-size: 20px;
  }
  .banner {
    background-image: url("../photos/cc.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: left;
    color: #D1BEAF;
    font-family: "Bell MT";
  }
  .banner-text h2 {
    margin: 0;
    font-size: 2em;
    color: #D1BEAF;
    ;
  
  }
  .anik {
    display: flex;
color: #472D1C;
font-size: 30px;
margin-left: 900px
margin-top: 400px;
  }
p {
    display: flex;
color: #472D1C;
font-size: 20px;
  }
